#menubar {
  text-align: left;
  width:170px;
  height:100%;
  border-right:groove 3px;
}
.cell{
  border-bottom:groove 2px;
  margin:0px;
  padding:0px;
}
.greyout{
  color:rgb(181, 181, 181);
}
.icon{
  width: 33px;
  height: 33px;
  margin-right:10px;
  margin-left:3px;
}

.miniicons{
  text-align:right;
}
.miniicon{
  width: 20px;
  height: 20px;
  margin-left:3px;
  vertical-align: middle;
}
#menutooltip{
     display: inline;
     position: absolute;
     background-color: #FFFFFF;
     border: 1px solid #cccccc;
     color: #000000;
     width: 200px;  
}

.cellword{
  height: 10px;
}
.searchform{
  height: 10px;
}
.keywords{
  background: none repeat scroll 0% 0% #D5E2CF;
  width:140px;
  padding-top: 6px;
}
.searchBtn{
  width: 20px;
  height: 20px;
}

