<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>JavaScriptToolBox</servlet-name>
		<servlet-class>jp.ktaguro.javaScriptToolBox.JavaScriptToolBoxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaScriptToolBox</servlet-name>
		<url-pattern>/javascripttoolbox</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	    <servlet>
        <servlet-name>javascriptsearch</servlet-name>
        <servlet-class>jp.ktaguro.javaScriptToolBox.JavaScriptSearchServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>javascriptsearch</servlet-name>
      <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <filter>
      <filter-name>authentication</filter-name>
      <filter-class>jp.ktaguro.javaScriptToolBox.AuthenticationFilter</filter-class>
      <load-on-startup>2</load-on-startup>
    </filter>
	<filter-mapping>
     <filter-name>authentication</filter-name>
     <url-pattern>/home</url-pattern>
	</filter-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>jp.ktaguro.javaScriptToolBox.LogoutServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>logout</servlet-name>
      <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>javascriptcreate</servlet-name>
        <servlet-class>jp.ktaguro.javaScriptToolBox.JavaScriptCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>javascriptcreate</servlet-name>
      <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>javascriptrun</servlet-name>
        <servlet-class>jp.ktaguro.javaScriptToolBox.JavaScriptRunServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>javascriptrun</servlet-name>
      <url-pattern>/run</url-pattern>
    </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>jsp-file</web-resource-name>
      <url-pattern>*.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
</web-app>
